[2017-01-24 18:53] tituspijean opened #1 "Use SettingsModal to store extension settings"
Use SettingsModal class to store LDAP server options

[2017-01-24 18:56] tituspijean opened #2 "Use Flarum's form as login information"
No need to display another login form, only an alternative button for LDAP authentification.

[2017-01-24 18:58] tituspijean opened #3 "No need to try to bind to LDAP server if logout is requested"
In `src/LDAPAuthController.php`

[2017-01-24 18:59] tituspijean opened #4 "Retrieve user avatar and other info upon login"

[2017-01-24 19:08] TitusPiJean commented on #1
Current admin form and settings are relics from the SAML2 extension from which was the initial commit.

[2017-01-27 19:22] tituspijean commented on #3
"Solved" with b7e8dd2. The extension does not need to handle logout.

[2017-01-27 19:22] #3 closed

[2017-01-27 19:23] tituspijean commented on #1
b7e8dd2 updated the settings, but SettingsModal does not show up.

[2017-01-27 19:24] tituspijean commented on #4
User avatar is actually not included in YunoHost yet.

[2017-01-31 21:46] tituspijean commented on #1
e8887d8 circumvents the issue by creating a SettingsPage instead of a SettingsModal.

[2017-01-31 21:46] #1 closed

[2017-01-31 22:13] tituspijean opened #5 "Integrate LDAP server name in login button"
Replace `{name}` by its value in `js/forum/src/main.js`

[2018-02-24 22:47] tituspijean commented on #2
Done by https://github.com/tituspijean/flarum-ext-auth-ldap/commit/3207253e318980f59ae685c0c68dc555057c783d
With this commit, the extension overrides the default loginmodal

[2018-02-24 22:47] #2 closed

[2018-02-24 22:48] tituspijean opened #6 "Signing up fails"
(see next message)

[2018-02-27 12:40] tituspijean commented on #5
Resolved by c1e1c352623dffb29708e964bc6022a3227befb0

[2018-02-27 12:40] #5 closed

[2018-03-14 14:03] agonzalezmurua opened #7 "Provide an example config"
I'm trying to incorporate this plugin on my company but I can't seem to make it work and the placeholder info isn't helping at all, could you please elaborate more on it?

[2018-03-15 10:12] tituspijean commented on #7
The placeholders are enough for a YunoHost installation, but surely you need other fields.

Can you disclose how you currently connect to your LDAP server and how you search for users? Replace any sensitive information with dummy strings.

[2018-03-15 17:06] agonzalezmurua commented on #7
I'm not using YunoHost, everything is self hosted

A little backstory:
I've integrated a GitLab instance with LDAP with an LDAP account before in my company and with wonderful results,
now the thing is that the design team needed to communicate information about core design of our application and stuff and needed a platform, Flarum was selected and they asked me if I could integrate it with LDAP.

[2018-03-15 19:10] agonzalezmurua commented on #7
Excuse my previous stacktrace, I never tried to reinstall this extension and it wasn't  working correctly.

I seems that I just need to better understand LDAP before reporting these things

[2018-03-16 15:54] tituspijean commented on #7
I am sorry, your unsolicited explanations do not help understand what is your problem. The stacktrace says all: no password was given, so you cannot be authenticated.

Currently, if your base DN is `dc=example,dc=com` and your username is `johndoe`, the extension will try to connect to the LDAP server as `uid=johndoe,dc=example,dc=com`.

Maybe your company identifies its users by their common name

[2018-03-16 16:34] agonzalezmurua commented on #7
After further investigation I’ve discovered the root do the problem.

I’m closing this issue

[2018-03-16 16:34] #7 closed

[2018-03-16 16:35] agonzalezmurua opened #8 "Add administrator_user and administrator_password fields"

[2018-03-17 15:17] tituspijean commented on #8
Added. Can you try on your end that it is working fine ?

[2018-03-17 16:18] agonzalezmurua commented on #8
Yup, I added  them manually beforehand. Thank you very much!

[2018-03-17 20:53] #8 closed

[2018-06-24 17:28] popindavibe commented on #6
Hello,

I am stuck at login page, though on debug mode I can see that it was successful and I can see my user's email info.
However username shows `"username":null`
Is it part of the known bug?

[2018-06-24 20:08] popindavibe commented on #6
Ok, for username it is just because as it is it requires a `displayName` associated to user.

That's ok. However no matter what I try I get an Oops error and back to login, though Debug shows all my values OK.

@tituspijean can you confirm it still works with version  0.1.0-beta.7 of Flarum?

[2018-07-01 17:43] tituspijean commented on #6
I have just tested with version 0.1.0-beta.7 of Flarum, and latest @dev version of the extension. No problem beside the error "200 OK": I am actually logged in after refreshing the page.

Where did you see the `"username":null` ? It should not rely on `displayName`.

[2018-07-01 20:33] popindavibe commented on #6
it was looking for displayName from:
[code]
But that's ok, I replaced it by uid.

However, no matter what I try, I get an `Oops` from the login page and it stays there forever.
Activating debug and trying to pinpoint it (since authentication IS successful), I could follow up to main core file `vendor/flarum/core/src/Forum/AuthenticationResponseFactory.php` where the following gives no results:
[co

[2018-07-01 20:37] popindavibe commented on #6
my bad, it does go through! a refresh indeed...! We need to fix that :-)

[2018-07-02 09:18] tituspijean commented on #6
Oh my bad! Yesterday I tested logging in with an already existing user in Flarum. Bug confirmed, I have the same issue with a similar extension I wrote with HTTP Basic Authentication (https://github.com/tituspijean/flarum-ext-auth-ssowat/issues/17).

[2018-07-05 18:15] popindavibe commented on #6
I got in touch with Franz on [discord](https://discordapp.com/channels/360670804914208769/360689644230410251), however after helping to pinpoint the issue, he lost me on the Javascript side of things.

I am reporting here what has been identified so far:
- PHP code looks good, it authenticates successfully against OpenLDAP, and the username and email attribute are returned, while a Token gets gene

[2018-07-05 19:20] franzliedke commented on #6
I am thinking you should do the `window.open` thing [here](https://github.com/tituspijean/flarum-ext-auth-ldap/blob/845919c8fdbd03aaea876a15acec5be116a93a82/js/forum/src/components/LDAPLogInModal.js#L89).

[2018-07-27 12:43] popindavibe commented on #6
@tituspijean did you get some time to look into Franz's info? I tried poking around, but no luck. I just don't understand how all is linked together, between the files, the JS cache and the rest... plus my testing method is manual and tedious, so I'm very much is the dark here.

[2018-07-27 12:46] tituspijean commented on #6
Actually not yet! Thanks for reminding me, I was blissfully enjoying having fixed its Yunohost package. :) I will look into it this afternoon.

[2018-07-27 19:58] tituspijean commented on #6
Last version (https://github.com/tituspijean/flarum-ext-auth-ldap/releases/tag/v0.6-dev) should fix the issue. Can you confirm on your side?

[2018-07-27 22:49] popindavibe commented on #6
I can confirm the user now gets created in the database and subsequent logins are also successful! Thanks a ton for that.

Trying to play one step further, if I use the _displayName_ field from LDAP for user creation (_suggestion_), this prevents me from reconnecting later on.
That said, what would really be nice is to keep using username to log in but showing _displayName_ once logged in.

I coul

[2018-07-28 07:21] tituspijean commented on #6
Great! I will implement it as an option in a future release (i.e. choose between `uid` and `displayName` for Flarum username).

[2018-07-28 07:21] #6 closed

[2018-07-28 07:28] tituspijean opened #10 "Use DisplayName"
See this comment https://github.com/tituspijean/flarum-ext-auth-ldap/issues/6#issuecomment-408557663, and make it default with option to stay with `uid`.

[2018-09-20 11:40] tituspijean opened #11 "Fixes for 0.1.0-beta.8+"
Version 0.1.0-beta.8 will introduce several changes in the backend of Flarum.
For this extension we will have to pay attention to:

- [x] [Changes in the namespaces](https://discuss.flarum.org/d/6572-help-us-namespace-changes)

[2018-09-25 20:14] tituspijean commented on #11
Hiiiiya: https://discuss.flarum.org/d/6573-convert-your-beta-7-compatible-extension-to-work-on-beta-8

[2018-10-08 22:10] D-mata opened #12 "Default Login not disabled"
If not logged in, clicking on reply or posting discussion will bring up the default login screen and not this plugins login screen.

[2018-12-17 22:58] popindavibe commented on #11
Did you manage to get it working? I gave it a go few weeks back, but it broke the LDAP authentication and I had to restore from backup eventually...

[2018-12-18 05:50] tituspijean commented on #11
I did not try since the release of beta 8, because I developed this extension for the YunoHost package of Flarum which is not compatible with PHP 7.2 apps.
I realize now that people can also use it directly. I will give it a try in the following days.

[2018-12-29 22:17] cdknight opened #13 "MethodNotAllowedException on /auth/ldap route"
When I install this extension, I get a 405 error on the route /auth/ldap when I try to test my LDAP settings and log in.

Using debug mode still doesn't alleviate the problem and gives no information.

Any help is appreciated with this problem.

[2018-12-30 19:03] tituspijean commented on #13
The extension is still not up to date with latest beta. I guess this is the issue. I have no time during the next 10 days to have a look into it.

[2018-12-30 19:38] cdknight commented on #13
I know a bit of Laravel, I will be looking at it after I try another way of getting LDAP to work with a different extension

[2018-12-30 19:57] tituspijean commented on #13
If you know Laravel, you can try to update all the namespaces of this extension to match the last beta's namespaces. I will most welcome any PR you can make. :)

[2018-12-31 03:01] cdknight commented on #13
I started to update the namespaces, but I am very confused on how to set up a good flarum dev environment on either my main Ubuntu workstation or Debian server that is running Flarum. I got as far as creating a local packages repository and rsyncing the modified extension directory to my server (I couldn't get flarum to work locally because of permission errors or something like that). I will be w

[2019-03-29 13:17] nadi106 commented on #11
hey, any progress made?

[2019-11-03 10:52] tituspijean commented on #11
Right now the extension works, but needs some polishing:

- [ ] The JS payload sent by the AuthenticationFactory is considered an error, but it should be executed to automatically close the LoginModal and refresh the page.
- [ ] The setting to customize the "Log in with..." link is not found.

[2019-11-04 09:19] nadi106 commented on #11
Will this work with flarum beta 10?

[2019-11-04 09:36] tituspijean commented on #11
Yes obviously, note the "+" after "beta8" in the title. 😉

[2019-11-10 10:50] nadi106 opened #15 "Invalid requirement version"
`adldap2/ldldap2` is required with version `10.1.11` which does not exist.

[2019-11-10 21:24] #11 closed

[2019-11-10 21:25] #12 closed

[2019-11-10 21:25] #13 closed

[2019-11-10 21:26] tituspijean commented on #15
Fixed by #14

[2019-11-10 21:26] #15 closed

[2019-11-27 10:36] Ornanovitch opened #17 "Allow to alter how the DN is built (do not only rely on uid)"
Hi ! Thank you for this extension, I'm configuring a flarum instance and ldap is the only way my users will log in.

I tried to configure the extension, but all my attempts are failing with no error. Only this in the firefox console :

[code]
 My access.log :

`POST /auth/ldap HTTP/1.1" 500`

php-ldap is installed, I have no other clue...

[2019-11-27 12:05] tituspijean commented on #17
Hi, thanks for your feedback!
Do you have any error in your PHP logs, server side?

[2019-11-27 12:32] Ornanovitch commented on #17
In debug mode, this appears :

![Screenshot_2019-11-27 Whoops There was an error ](https://user-images.githubusercontent.com/34077099/69723496-fd50b180-1119-11ea-9258-2e4aba4d6d45.png)

In my php-fpm.log, nothing.

In my nginx/error.log, I have all this but I had already those messages before installing your extension :

[code]

[2019-11-27 13:36] tituspijean commented on #17
OK, I think the extension is not listening to all the errors the LDAP binding can throw. You hence get a generic error.

- Can you try to see what triggers this error? In debug mode, you should be able to "rewind" the stack of commands to led to it.
- Can you check all your settings? (try to do an ldap search via command line for example)
- Try also not to use the admin authentication, I am doubti

[2019-11-28 10:21] Ornanovitch commented on #17
Thanks again !

I tried without admin auth, without change.

I can't identify what exactly triggers the error. Here are the 3 last commands before the error :

![1](https://user-images.githubusercontent.com/34077099/69797413-eff5fe80-11cf-11ea-96c2-a311990c9d54.png)
![2](https://user-images.githubusercontent.com/34077099/69797422-f2f0ef00-11cf-11ea-89e3-a50a9a6472af.png)
![3](https://user-images.g

[2019-11-28 11:27] tituspijean commented on #17
Try emptying the `account_prefix`, it is not meant as a filter.
Basically if your user id is `ornanovitch`, then it would end up looking for `objectclass=personornanovitch`.

I will investigate if it's possible to implement this filter in the extension, but it would work without it.

[2019-11-28 12:47] Ornanovitch commented on #17
OK, thanks. I emptied `account_prefix`, now there is only

[code]
So in theory I guess it should give access and create an user in DB for all members referenced into the `base_dn` ? It would be a first victory, but for now the same error remains...

[2019-11-28 13:05] tituspijean commented on #17
No, what it does is using the username and password given in Flarum's login modal to connect into the LDAP server as this user. If the connection is successful, then it creates the same user in Flarum's database.

I will try to investigate tonight, I am at a loss about the next steps.

Note to self: write an actual README. :)

[2019-11-29 16:11] tituspijean commented on #17
Hi, to help me debug the issue, can you delete these two lines?
https://github.com/tituspijean/flarum-ext-auth-ldap/blob/d88361a1e3b26139097d881a86a4d15183c817db/src/Controllers/LDAPAuthController.php#L77-L78

The file should be in `${your_flarum_path}/vendor/tituspijean/flarum-ext-auth-ldap/src/Controllers/LDAPAuthController.php`. Then post the debug screen.

[2019-12-03 14:26] Ornanovitch commented on #17
The error is more verbose now :
`No LDAP query results for filter: [(objectclass=*)] in: [uid=ornano,dc=felinn,dc=org]`

[2019-12-03 17:27] tituspijean commented on #17
Weird. I really do not know what is the matter.
Can you try binding with the admin account again?

[2019-12-03 17:57] nadi106 commented on #17
Implementing this extension in my environment let me to the conclusion that the search is not being done recursively within the directories.
I think that changing the `base_dn` in your case to `cn=fd-admin,dc=felinn,dc=org` will work.

[2019-12-03 23:48] Ornanovitch commented on #17
Same problem...

It does not, but thanks for helping me !

Should I try your solution @nadi106 ? How would I implement this ? In `LDAPAuthController.php`, replacing lines 53-54 ? :
[code]

[2019-12-05 19:23] Ornanovitch commented on #17
OK, I tried to implement your modifications, it brings me to this error :
`could not bind to ldap server`

[2019-12-05 19:30] nadi106 commented on #17
@Ornanovitch what OS are you on?

[2019-12-05 19:52] Ornanovitch commented on #17
Debian 9 !

This one (the last one) :

`throw new Exception("Could not bind to LDAP server")`

[2019-12-05 19:57] nadi106 commented on #17
I was on Ubuntu when integrating this and I found using `ldapsearch` package to test some queries helpful. You should try that.

[2019-12-05 20:17] Ornanovitch commented on #17
OK, I'll do that, thanks !

[2019-12-10 09:58] Ornanovitch commented on #17
Solved ! :fireworks:

So, we have investigated a lot with my mates, here is what's happening :

[adLDAP](http://adldap.sourceforge.net/) wants to have user's `dn` referenced by `uid`, like this :

[code]
But in our LDAP configuration, the user's `dn` was referenced by `cn` (last name + surname). We didn't want this but it seemed to be a default configuration that we didn't see.

So we had to chang

[2019-12-14 11:40] tituspijean commented on #17
I am glad you solved the issue, and I am sorry you had to change your LDAP setup to accommodate this extension's flaws. If that's already with you, I am keeping this issue open to try to implement versatile DN configurations.

I will investigate the matter, but on first thoughts providing a `uid` is mandatory for Flarum. It is tricky to identify users only by their `cn` since it can change! (I am

[2020-03-04 21:15] tituspijean opened #18 "Flarum\Event\ConfigureMiddleware is now deprecated for beta.12"
[Flarum beta.12 has been released](https://github.com/flarum/flarum/releases/tag/v0.1.0-beta.12)
[Changelog](https://discuss.flarum.org/d/22973-flarum-010-beta12-released)

~~⚠️ `Flarum\Event\ConfigureMiddleware` is now deprecated.~~ It is not used in this extension.

[2020-03-19 11:16] Ornanovitch commented on #18
Hey @tituspijean !

Hope you're doing well. Any news regarding the compatibility with beta 12 ?
I had to reinstall all my extensions recently, and with composer, flarum-ext-auth-ldap `requires flarum/core >=0.1.0-beta.10 <0.1.0-beta.12`

regards,

[2020-03-19 21:28] tituspijean commented on #18
Hi @Ornanovitch, after some testing, it seems I do not need much work here: I only had to bump up the required versions. If you are willing to help me test it, I have created a [pre-release for beta.12](https://github.com/tituspijean/flarum-ext-auth-ldap/releases/tag/v0.1.0-beta.12), let me know if anything goes wrong.

[2020-03-20 10:40] Ornanovitch commented on #18
Thanks you !

I begin the test, for now it's working with my first config. I have to test another ldap server in several days, so it will be the opportunity for a complete test. I let you know !

[2020-03-20 12:00] Ornanovitch opened #20 "`memberof` filter problem"
Hey @tituspijean !

Here is a first issue I have with my new LDAP config on beta-12.

My `Base_dn` is `memberof=cn=talk,ou=groups,dc=foo,dc=foo`

My ldap receives a bad request with the second `=` of the `memberOf` filter, which is interpreted as a `\3D` (?!) :

`cannot find entry: "uid=ornano,memberOf=cn\3Dtalk,ou=groups,dc=foo,dc=foo`

Without memberOf, if I give others basic filters, it's worki

[2020-03-20 12:09] tituspijean commented on #20
Indeed, something like `memberof=cn=...` will not work. Whatever between an equal sign and the next comma will be expected to be text. So your second equal sign is transliterated into its corresponding code.

If you don't use `cn`, can you try the following? (frankly I am not sure it will work)
```memberof=talk,ou=groups,dc=foo,dc=foo```

I will look into adding filters this weekend.

[2020-03-20 12:20] Ornanovitch commented on #20
OK, thanks for the explanation !

Indeed, `memberOf=talk` does not work

[2020-03-22 21:14] tituspijean commented on #20
Hi @Ornanovitch, I have just created a test release (v0.1.0-beta.12-1) with the filter feature added.
The user discovery flow is: LDAP -> Filter -> UID with base DN. Hopefully they cascade without any issue.

I have no means to test it, so can you report if it is working on your side?

[2020-03-22 21:18] Ornanovitch commented on #20
Hi @tituspijean, thanks for starting to work on this improvement !

I'd be happy to test it in a few days, I let you know how it's working asap :)

[2020-04-05 16:07] #18 closed

[2020-04-05 16:10] tituspijean commented on #20
I have successfully tested the filter on my side, everything seems alright. Do not hesitate to reopen if you have any issue.

[2020-04-05 16:10] #20 closed

[2020-04-07 18:41] Marty opened #22 "Not compatible with beta.12"
Hi,
I just wanted to install this in my flarum instance just to see that it requires flarum/core >=0.1.0-beta.10 <0.1.0-beta.12 so the composer won't run.
Can I somehow force the installation to test this or can you release a new version?

[2020-04-07 19:36] Marty commented on #22
Nevermind, found the beta

[2020-04-07 19:36] #22 closed

[2020-04-07 19:50] Marty opened #23 "How to debug failing ldap connection?"
Hi,
after installing beta 12-1 I configured the plugin with my configuration that is working in other systems, but on login I only get a popup saying "An error occurred while trying to load this page.".

Nothing in the docker container logs and nothing in the nginx logs.

My php and nginx skills are "limited", how can I further debug this issues?
Regards

[code]

[2020-04-08 14:41] tituspijean commented on #23
Hello,
To see more verbose errors, you need to enable Flarum's `debug` mode, in `config.php`.

By the way, connecting with an admin account is usually not mandatory if users are allowed to log in the LDAP server with their own credentials. Note that the admin credentials are not stored securely in the database.

[2020-04-08 14:43] tituspijean commented on #10
Closing for now, to be reopened when display names are implemented in Flarum.

[2020-04-08 14:43] #10 closed

[2020-04-10 12:38] Ornanovitch commented on #20
Hey @tituspijean, sorry for the long time before reaction !

I just tested your improvements, but I have a problem : whatever I put in the filter field, the controller returns `This user is not allowed to log in.` but when I watch into the ldap logs, it doesn't even queries my ldap server... When I enter the old config (without filter), it queries my ldap without problem.

Can you tell me how you

[2020-04-10 13:06] tituspijean commented on #20
I use YunoHost as server, which can assign permissions (ie groups) to users. I my tests, with the following filter, only users with the `flarum.login` permission could log in with LDAP.

`(&(objectClass=posixAccount)(permission=cn=flarum.login,ou=permission,dc=yunohost,dc=org)`

Based on your previous comments, I guess your filter should be something like:
(&(memberOf=cn=talk,ou=groups,dc=foo,dc=f

[2020-04-10 13:37] Ornanovitch commented on #20
Thank you very much, it was a simple syntax mistake :)

It works like a charm ! I have an other little issue which doesn't concerns filter, so I'm gonna open a new issue for this.

Thanks again, great work !

[2020-04-10 14:03] Ornanovitch commented on #23
To see if something is wrong in the ldap query, you can also go into your ldap server, stop the service and start ldap with `slapd -d 8 -d 64 -d 32 -d 128 -d 256` (verbosity ++)

[2020-04-10 14:35] Ornanovitch opened #26 "ldap query doesn't seems to look into subdirectories"
Hey again !

So I'm just at a few steps from a perfect ldap config of flarum thanks to your plugin !
My last problem is that some of my users are registered into specific organizations (`ou=people,o=foo,dc=foo,dc=org`).

To login with those users, I have to adjust the `base_dn` like this : `ou=people,o=foo,dc=foo,dc=org` because if I attempt to connect with my normal `base_dn` (`ou=people,dc=foo,d

[2020-04-10 15:29] tituspijean commented on #26
It is getting more and more crazy for me to handle. ;p
Can you try converting your requirements into raw filters? It is not optimal but it may work:
Like putting `base_dn` as `dc=foo,dc=org` only, and putty in the filter something like `(|(memberOf=ou=people,o=foo,dc=foo,dc=org)(memberOf=ou=people,dc=foo,dc=org))`

[2020-04-10 18:39] Ornanovitch commented on #26
You're right, I could use the filter now they are working !
I give it a try and let you know !

[2020-04-10 18:57] Ornanovitch commented on #26
Unfortunately it doesn't work, I have the feeling it's a `base_dn` behavior. Put only the `dc=foo,dc=org` should handle a lot of config but when users are in separated departments (`o=foo`) it can't find them. Seems like a `o=foo` isn't handled like a group. It seems to be like a subdirectory of the `base_dn`, which can be reached by a ldap query with `LDAP_SCOPE_SUBTREE` argument (but I'm not sur

[2020-04-10 19:49] tituspijean commented on #26
Actually we could extend the logic implemented in the linked PR above. @CodazziS has proposed to try logging in users either by `uid` or `mail`. We could add another loop with all the listed `base_dn`. After a quick look into Nextcloud's LDAP documentation, it seems they do just that.

In pseudo-code, it would be
[code]

[2020-04-10 20:37] tituspijean commented on #26
@Ornanovitch, I have implemented what I wrote earlier. If you can, could you try it? I think replacing the contents of the PHP script should be enough. You need to separate your `base_dn` with semicolons.

[2020-04-11 12:12] Ornanovitch commented on #26
Hi ! Thanks for this attempt :)
I give it a try ASAP and I let you know !

[2020-04-11 13:03] Ornanovitch commented on #26
Oops, I'm lost in those PHP changes :
`Return value of TitusPiJean\Flarum\Auth\LDAP\Controllers\LDAPAuthController::handle() must be an instance of Psr\Http\Message\ResponseInterface, none returned`

Should I try with the CodazziS fork ?

[2020-04-11 15:01] #17 closed

[2020-04-11 16:01] tituspijean commented on #4
Closed by #25

[2020-04-11 16:01] #4 closed

[2020-04-11 16:03] tituspijean commented on #26
The latest release (v0.1.0-beta.12-2) should work for you ;)

[2020-04-11 22:55] Ornanovitch commented on #26
Okay ! It works like a charm :)

Caution : with this version, if I put a single `base_dn`, it does not work for me (but I need 3 so it works^^). So maybe there is a detail to fix.

[2020-04-12 09:45] tituspijean commented on #26
Great to see that it works, and many thanks to @CodazziS, his contributions came with a great timing.

I do not have any issue with a single `base_dn`. Could you share the associated errors?

[2020-04-12 09:47] tituspijean opened #27 "Write proper documentation"
With the extension becoming mostly functional, an actual documentation would be nice. (Self-)bonus point if code is commented.

[2020-04-12 09:50] Ornanovitch commented on #26
oops, I tried to reproduce the error but now everything works... maybe it was something else...
let's see in the future !

[2020-04-12 10:31] tituspijean commented on #26
Matter seems to be resolved, enjoy!

[2020-04-12 10:31] #26 closed

[2020-04-20 07:01] oguzhanyilmaz opened #28 "Ldap Error"
[code]

[2020-04-20 08:35] tituspijean commented on #28
Without any explanation about *what* you want to do, *how* you are doing it, and so on, let me be blunt: the answer is on the first line.
[code]
The credentials you passed, either as user or with the admin dn, are invalid.

[2020-04-20 08:35] #28 closed

[2020-04-20 09:04] oguzhanyilmaz opened #29 "Ldap search error"
hi i got error.

[code]

[2020-04-20 09:59] tituspijean commented on #29
@oguzhanyilmaz

Please use the ` ``` ` tags before and after your code to make it more legible, and to avoid tagging other issues since php logs contain `#number` everywhere.
Again, as in #28, without any explanation about what you want to do, how you are doing it, and so on, let me be blunt: I cannot help you.

It seems you have made some advancements since the error is not the same. What have yo

[2020-04-24 19:05] stevebauman commented on #29
@oguzhanyilmaz This error (`ldap_search(): Search: Operations error`) is usually caused by anonymously binding to your LDAP server (using `null` username & password) and attempting to search. See this Stack Overflow issue [here](https://stackoverflow.com/questions/17742751/ldap-operations-error).

@tituspijean Thanks so much for using LdapRecord! 😄 I'd like to support it as much as possible, so if

[2020-04-24 20:39] tituspijean commented on #23
Closing due to lack of feedback.

[2020-04-24 20:39] #23 closed

[2020-04-27 13:18] tituspijean commented on #29
@oguzhanyilmaz, closing for lack of answer. You can reopen this issue with additional information, cf. my message above.

@stevebauman, thank *you* for LdapRecord! Migrating from Adldap2 has been a bliss, and the code looks even cleaner. I will tag you without hesitation if I feel future issues require it. Thanks again!

[2020-04-27 13:18] #29 closed

[2020-04-28 18:26] stevebauman commented on #29
That's awesome to hear @tituspijean! And thanks so much for your kind words :smile:

[2020-05-13 14:49] criskolkman opened #30 "Logging in fails"
Hello,

I have installed and configured this extension, but when I try to login via LDAP I get the following error:

![image](https://user-images.githubusercontent.com/17678609/81827214-d73c9380-9538-11ea-9867-8a7287738400.png)

It would also be nice if the LDAP server name gets separated from the actual LDAP server that needs to be used, when you fill in an IP that is being used with **Log in wit

[2020-05-13 15:32] tituspijean commented on #30
Hello, thank you for installing and testing this extension.
As stated in the template issue, please provide a log, or a more descriptive error than your screenshot by enabling debugging on Flarum.

Regarding `LDAP server name`, that is purely cosmetic, and only used to display the login link. Do not confuse it with a server IP. Server IPs have to be put in `LDAP domains`.

You should check your `F

[2020-05-15 10:01] criskolkman commented on #30
I've tried to escape the space, didn't make any difference.
I then created a new group and user for the LDAP search (the "old" one also had spaces in de DN) and made sure both don't have any spaces in the DN, but it still doesn't make any difference.

[2020-05-15 11:31] criskolkman commented on #30
So after enabling **debug** in `config.php` I see below error, it's giving an LDAP error but the error is empty?

![image](https://user-images.githubusercontent.com/17678609/82046033-71731780-96b0-11ea-953c-6734fa8a38f5.png)

[2020-05-15 12:02] tituspijean commented on #30
On the left of what you screenshot, there is the stack trace of all the functions that lead to the error. Can you go further back in the list to find what triggered the exception?

[2020-05-15 12:12] criskolkman commented on #30
Hello @tituspijean,

When I leave username and password empty I get below LDAP error (which seems obvious since I left the username empty):
![image](https://user-images.githubusercontent.com/17678609/82048956-d67d3c00-96b5-11ea-932e-cc423628b476.png)

When I do fill in my credentials the **LDAP error** is being triggered but with an empty response, I checked the functions on the left but not sure

[2020-05-15 12:34] tituspijean commented on #30
That's weird. :(

If you are willing to hack a little bit to help me debug, can you replace line 90 (a lone `}`) of `vendor/tituspijean/flarum-ext-auth_ldap/src/Controllers/LDAPAuthController.php` with the following and try again?

[code]

On the other hand, can you check your LDAP server's logs to see anything useful?

[2020-05-15 12:44] criskolkman commented on #30
@tituspijean After that modification I indeed get that error:

![image](https://user-images.githubusercontent.com/17678609/82051651-91a7d400-96ba-11ea-8ba8-a0698f58b67e.png)

[2020-05-15 12:50] tituspijean commented on #30
OK thanks, we have thus pinpointed the issue there: `$connection->auth()->attempt($current_dn, $password, $bindAsUser = true)`. This fails somehow.

Can you replace the bit of code above with the following?
[code]

I am assuming the password is correct, but can you check that `$current_dn` is a valid DN for your server?

Additional test: remove `, $bindAsUser = true`, as I think it is not necessar

[2020-05-15 12:57] criskolkman commented on #30
I don't think the DN is correct, it is showing as `sAMAccountName=USERNAME,OU=domain,DC=com` and with email login it shows `mail=EMAIL@DOMAIN.COM,OU=domain,DC=com`.

[2020-05-15 13:01] tituspijean commented on #30
I have just realized... what's the `(sAMAccountName=)` even for in your filter? You are demanding an empty field whenever you attempt to log in with that.

[2020-05-15 13:07] criskolkman commented on #30
I don't have that in my filter:
![image](https://user-images.githubusercontent.com/17678609/82053258-5955c500-96bd-11ea-910e-a7382d7e36a8.png)

And I already tried it without the filter but now I tried again and getting the same result:
![image](https://user-images.githubusercontent.com/17678609/82053520-c8331e00-96bd-11ea-9cf6-6c5147567fa4.png)

[2020-05-15 13:14] tituspijean commented on #30
Yes my bad, it gets added afterwards, and was empty because it is your example with empty credentials.

What do you expect the DN to be looking like?

---
Paging @stevebauman, who offered to help with LdapRecord. :)

[2020-05-15 13:21] criskolkman commented on #30
Well I've traced it back this far:

When I change the Base DN in the config to the exact OU the user is in, it seems the login is correct (eg the `die($current_dn);` is NOT being shown) but another error is being shown:

[code]

Also I had to change the **LDAP user search** to **cn**, because `mail=EMAIL@DOMAIN.COM,OU=...........` is not an AD DN.

It also seems that the base DN that is given is b

[2020-05-15 13:32] stevebauman commented on #30
Hey @tituspijean!

This appears to be the issue:

[code]

Source:
https://github.com/tituspijean/flarum-ext-auth-ldap/blob/11a2092b9639e7eeba324bde3c29d0bd72267221/src/Controllers/LDAPAuthController.php#L55

This will create an invalid search DN -- as we're seeing above, since @criskolkman is using `mail` as his `$searchUserField`.

A user is always identified by a common name (`cn`), such as:

[c

[2020-05-15 13:36] criskolkman commented on #30
This is exactly what I meant, thank you @CodazziS

[2020-05-15 13:52] tituspijean commented on #30
Thanks for the impromptu lesson! I thought we could you whatever field in the base DN.
Can you test the following code then? Replace it for lines 53 to 97.

[code]

[2020-05-15 14:05] criskolkman commented on #30
Using this code is resulting in the same empty LDAP error:
`"LDAP error: ()"`

[2020-05-15 16:46] criskolkman commented on #30
Oh and @tituspijean please be aware that LDAP for Active Directory (which I am using) probably differs from OpenLDAP queries.
I have never worked with OpenLDAP before but it could be that your code works fine for OpenLDAP but it doesn't for AD LDAP.

[2020-05-16 14:06] tituspijean commented on #30
Hi @criskolkman, can you try the testing branch?

`composer require tituspijean/flarum-ext-auth-ldap:dev-testing --prefer-dist`

Can you try first without filter, then with it?

[2020-05-16 15:05] criskolkman commented on #30
Hello @tituspijean,

I now get the following error after logging in:
`"LDAP error: (Unable to encode attribute [payload] for model [Flarum\User\RegistrationToken] to JSON: Malformed UTF-8 characters, possibly incorrectly encoded.)"`

[2020-05-16 15:07] tituspijean commented on #30
Using the debugger, can you pinpoint which variable contains the utf-8 characters the error is referring to?

[2020-05-16 15:17] criskolkman commented on #30
@tituspijean Not really sure where to look for that. Other than that error I'm only getting messages like:

`Laminas\Diactoros\ServerRequest {#1655}`

And:
`Laminas\Diactoros\ServerRequest {#1655}
[]`

`Laminas\Diactoros\ServerRequest {#1646}
Closure(ServerRequestInterface $request, array $routeParams) {#619 …4}`

[2020-05-16 15:45] tituspijean commented on #30
I think I found where the issue was. Can you delete the extension directory and perform the `require` command again?

Note that I was confusing username and common name. For registration, Flarum wants a username (`uid` for example), not something that can contain a space like `cn`. Check the extension config panel, specifically the last field.

[2020-05-16 15:54] criskolkman commented on #30
For a username you should always use the AD attribute **sAMAccountName**, I don't think that ever will contain a space.
When you have an AD login for for example the company you work for, your login name (sAMAccountName) will most likely be something with your first and last name, in my case that would be something like **ckolkman** or **cris.kolkman**.

My config:
![image](https://user-images.git

[2020-05-16 15:57] criskolkman commented on #30
@tituspijean After removing the directory and re-installing I'm getting the same error:

`"LDAP error: (Unable to encode attribute [payload] for model [Flarum\User\RegistrationToken] to JSON: Malformed UTF-8 characters, possibly incorrectly encoded.)"`

[2020-05-16 16:01] criskolkman commented on #30
After changing the **LDAP user displayName field** to **sAMAccountName** (which is not the displayname but the login, but just did it to test) I get the following error:

`"Argument 2 passed to Flarum\Forum\Auth\ResponseFactory::make() must be of the type string, null given, called in /var/www/clients/client2/web9/web/vendor/tituspijean/flarum-ext-auth-ldap/src/Controllers/LDAPAuthController.php o

[2020-05-16 16:03] tituspijean commented on #30
Regarding your comment about `sAMAccountName`, that would be completely dependent on how the LDAP tree is set up. In my test server case, I do not have such attribute.

I think the latest commit was not installed. You should get from composer:
[code]

![image](https://user-images.githubusercontent.com/8769166/82124475-88446780-979f-11ea-87c1-d3db279e5edc.png)

[2020-05-16 16:14] criskolkman commented on #30
@tituspijean Are you using OpenLDAP as a test server? Like I said I'm using Active Directory (Windows Server) with LDAP, you probably want 2 different configs for them because **sAMAccountName** is ALWAYS an attribute in AD.
The other web app I'm using (from which I pasted part of the config in one of my previous posts) is using different config files for OpenLDAP and Active Directory LDAP.

My up

[2020-05-16 16:22] tituspijean commented on #30
I understand you have an OpenLDAP server. I want to make this extension as versatile as possible, hence the configurable username/id field.

I have however no spare time to investigate all specific use of the extension, so let me rely on your tests to make it compatible with OpenLDAP.

According to my code, argument 2 of `make()` is `$user[$userLdapUsername][0]` which should be your user's `sAMAcc

[2020-05-16 17:07] criskolkman commented on #30
Let me make clear again, I'm **not** using OpenLDAP but I'm using Active Directory LDAP.
Adding your code seems to return correct values, exept for below 2 screenshots.

![image](https://user-images.githubusercontent.com/17678609/82125750-6e5b5280-97a8-11ea-9e20-2617a40e0c5d.png)

![image](https://user-images.githubusercontent.com/17678609/82125756-74513380-97a8-11ea-8363-315357ead4a3.png)

[2020-05-16 19:54] Eli0tt commented on #30
Hello, I'm also using Active Directory and I'm getting exactly the same error: "LDAP error: ()"

A solution?

[2020-05-17 09:17] tituspijean commented on #30
@criskolkman Damn, I should proofread.
Can you check in the array above that there is a `sAMAccountName` key, or maybe in lowercase?

---
@Eli0tt, we are working on it.

[2020-05-18 09:58] criskolkman commented on #30
@tituspijean There is a sAMAccountName entry:
![image](https://user-images.githubusercontent.com/17678609/82199944-a96f9a00-98fe-11ea-8d37-4c2c4ddcda9f.png)

But the last `print_r` of the extra code you asked me to add (`print_r($userLdapUsername . ": " . $user[$userLdapUsername][0]);`) does not return the username:
![image](https://user-images.githubusercontent.com/17678609/82200106-e471cd80-98fe

[2020-05-18 10:13] tituspijean commented on #30
Good, so the issue lies in the capitalization then. I have pushed a commit on the testing branch. Can you do the same test as before, to redownload the extension?

[2020-05-18 10:14] criskolkman commented on #30
@tituspijean Changing the config to below screenshot (note that **...** is all lowercase) does seem to fix the login problem, but get's me back to below error.

![image](https://user-images.githubusercontent.com/17678609/82201662-0409f580-9901-11ea-9562-8251feef5710.png)

`"LDAP error: (Unable to encode attribute [payload] for model [Flarum\User\RegistrationToken] to JSON: Malformed UTF-8 characte

[2020-05-18 10:17] criskolkman commented on #30
@tituspijean Redownload now gives below error:

[code]

[2020-05-18 10:18] tituspijean commented on #30
Try `composer require tituspijean/flarum-ext-auth-ldap:dev-testing --prefer-dist --dev`

[2020-05-18 10:19] criskolkman commented on #30
Getting the same error.

[2020-05-18 10:29] tituspijean commented on #30
And now we are struggling with composer...
`composer require tituspijean/flarum-ext-auth-ldap`
and replace file `vendor/tituspijean/flarum-ext-auth-ldap/src/Controllers/LDAPAuthController.php` with the one here: https://github.com/tituspijean/flarum-ext-auth-ldap/blob/testing/src/Controllers/LDAPAuthController.php

[2020-05-18 10:31] criskolkman commented on #30
No sorry I made a mistake (was trying to run the composer command in the wrong directory...).

Now after logging in I'm getting below error:
`"Argument 4 passed to Flarum\User\RegistrationToken::generate() must be of the type array, string given, called in /var/www/clients/client2/web9/web/vendor/flarum/core/src/Forum/Auth/ResponseFactory.php on line 51 ◀"`

[2020-05-18 11:42] tituspijean commented on #30
OK thanks, I have made the token an array. Try again? 🤞

[2020-05-18 12:09] criskolkman commented on #30
@tituspijean Logging in is working now!
Only thing what would be nice is: Now the sAMAccountName is being used as displayName because the displayName is not configurable anymore.

[2020-05-18 12:56] tituspijean commented on #30
Glad to hear it!

The `displayName` was remaining from an older test, and it seems it is not fully implemented in Flarum for the time being. Refer to #10 and the upstream issue linked there. To identify users, we need a string that cannot be changed (ie `uid` or `sAMAccountname`). Flarum does not offer ways to add a display name programmatically yet.

[2020-05-18 12:56] #30 closed

[2020-05-18 12:59] criskolkman commented on #30
Thank you, hope they will implement this in Flarum soon then :)

[2020-05-18 13:26] tituspijean commented on #30
Thank *you* very much for helping me debug the issue. It helped me make the logging in method more robust and versatile.

@stevebauman, thanks for dropping by and for your explanation!

[2020-05-18 13:34] tituspijean commented on #27
Closed by #31

[2020-05-18 13:34] #27 closed

[2020-05-18 13:36] tituspijean commented on #30
By the way @criskolkman, you can switch back to the non dev version with a standard `require`, without specifying the branch name.

[2020-05-18 13:42] criskolkman commented on #30
Thank you, switched back to the standard branch.

[2020-05-19 16:11] Eli0tt opened #32 "Translate extension"
Hello,

Simple question, my Flarum is in French, and I would like to know how can I translate the LDAP extension?
I tried to modify the .yml file directly, but the translation is only done in the English version of the site.
I tried to add a fr.yml file, but the same thing happens

[2020-05-19 17:22] tituspijean commented on #32
Hi, I have just pushed a commit adding French translation in the `testing` branch. Can you check it out?
`composer require tituspijean/flarum-ext-auth-ldap:dev-testing`
You may need to `php flarum cache:clear` too.

[2020-05-19 17:40] Eli0tt commented on #32
Hi, it's working perfectly! :)

[2020-05-19 18:23] #32 closed

[2020-05-19 18:25] tituspijean commented on #32
Do not forget to switch back to standard branch. :) Thank you for trying it out!

[2020-08-20 12:13] tituspijean opened #36 "Improve internationalization"
[Reference post on the forum](https://discuss.flarum.org/d/9515-ldap-login-extension/40):

[Reference documentation item for including variables in translations](https://docs.flarum.org/extend/i18n.html#including-variables):

  icon: 'search',
  children: app.translator.trans('all_discussions_button', {query}),
  href: app.route('index', {q: query})
})}`

[2020-09-19 14:49] tituspijean commented on #36
Fixed by #37

[2020-09-19 14:49] #36 closed

[2020-11-01 21:50] Ornanovitch opened #38 "beta 14 compatibility"
Hey there !

Do you have any plans concerning compatibility with beta 14 ?

Regards,

[2020-11-02 14:41] tituspijean commented on #38
I do, but have no time until next weekend :)

[2020-11-18 17:58] Marty commented on #23
I'm so sorry for not getting back to you. The pandemic really hurt the community I was building the forum for and all efforts were halted.

I put the forum in debug mode and got really useful insight into why it was failing and was able to solve it, thank you very much.

[2020-11-18 18:32] Marty opened #39 "Error popup when entering wrong credentials with debug=false"
**Describe the bug**
A popup with `An error occured while trying to load this page.` with the url `https://forum.host.tld/auth/ldap` is shown when the user enters invalid credentials.
This just happens when the forum is in `debug=false`.
When putting it in `debug=true`, this popup correctly shows `LDAP error: (Authentication failed...[stacktrace]`.

**Expected behavior**
No popup and a message say

[2020-11-18 20:34] tituspijean commented on #39
Ah yes, it was bound to come up some day. I need some time to learn on how to trigger actual alerts/errors in Flarum. 😉

[2021-02-02 18:00] CodazziS opened #41 "Cannot log in with modal in reply modal"
When you want to reply on post, a connexion modal appear, but LDAP extension doesn't work.

Error in console :

[code]

**Versions**
- Flarum version: 0.1.0-beta.13
- Using, or trying to install LDAP extension version/branch: v0.1.0-beta.13-5

[2021-02-02 18:03] CodazziS commented on #38
Hello @tituspijean
Do you need help to migrate to beta 15 ?

[2021-02-02 19:26] tituspijean commented on #38
Ouch, I completely forgot about beta 14 and missed beta 15.
If you are willing to do it, you are most welcome. I am a tad taken up by work nowadays.

[2021-02-10 19:15] CodazziS commented on #38
Hello @tituspijean I just add PR #42 .
I test it for ldap connexion, maybe need more tests.

Issue #41 id not fixed in this PR. I will try to fix-it after beta 15 support

[2021-04-28 21:54] #41 closed

[2021-04-28 21:56] tituspijean opened #48 "Display proper failed login alert"
Right now, a wrong password, or a "user not found" error will trigger the same cryptic "An error occurred while trying to load this page. "

Displaying a proper alert like the standard authentication method would be better.

[2021-05-08 11:11] tituspijean commented on #38
Solved in #47.

[2021-05-08 11:11] #38 closed

[2021-05-15 17:38] MrVBian opened #49 "Does not support v0.1.0-beta.16"
![image](https://user-images.githubusercontent.com/37790267/118373065-471ba900-b5e7-11eb-94d6-3a48af1ffb96.png)

Thank you very much for your work. Would you consider upgrading to be compatible with v0.1.0-beta.16?

[2021-05-16 08:24] tituspijean commented on #49
I have already released a [version for beta 16](https://github.com/tituspijean/flarum-ext-auth-ldap/releases/tag/v0.1.0-beta.16-1). Can you try requiring this specific tag "v0.1.0-beta.16-1"?

[2021-06-05 16:25] #49 closed

[2021-07-05 07:54] kepon85 opened #51 "Duplicate this for create flarum-ext-auth-imap ?"
Hello

I am a beginner developer compared to you. I'm looking to add IMAP authentication to Flarum. I think that from your LDAP extension there is not much to modify. Would you be able to help me do this? (I don't know programmed in Class but I can tell you the parameters you need for the PHP IMAP connection + do the push / debug tests ...)

It is for associative use

Beautiful day,
David

[2021-07-05 08:31] #51 closed

[2021-10-11 15:44] sprnza opened #52 "Use this plugin without sign in permission"
Hi there!
Thank you for this wonderful extension!
What I try to do is to use it with "Sign In" permission set to Closed. When a user tries to login the first time one's being redirected to sign in form, wich fails with the permission set to Closed.
Is there a way to workaround this somehow?

[2021-10-11 16:07] #52 closed, assigned to nobody

[2021-10-15 07:42] tituspijean commented on #52
It is more a matter of disabling the core registration endpoints. I can try to have a look into it, but I am not *that* knowledgeable. Contributions are welcome.

[2021-10-15 07:53] tituspijean opened #53 "Disable standard registration and login endpoints when "only use LDAP" option is enabled"
See post-closure discussion in #52.

Help needed.

[2022-03-19 23:34] DoM1niC opened #54 "LdapRecordException: LDAP error"
**Describe the bug**

**Expected behavior**

**Versions**
- Flarum version: latest
- PHP: 8.1-FPM + NGINX
- Using, or trying to install LDAP extension version/branch:
[code]
**To Reproduce**

1. Login

**Logs**
[code]

[2022-03-20 11:29] tituspijean commented on #54
Thank you for your report! I was able to replicate the issue and seemingly finding a fix by simply upgrading the LDAP library.
Can you try this fix?

`composer require tituspijean/flarum-ext-auth-ldap:dev-fix-php8.1 -W`

[2022-03-21 18:48] DoM1niC commented on #54
Works 💯 THX

[2022-03-21 18:48] #54 closed

[2022-11-18 18:04] n-peugnet opened #74 "Make `mail` attribute optional"
Currently, `mail` attribute seems to be required. Would it be possible to make it optional and let the user enter an email when creating the account ?

[2022-11-20 13:18] vincent-peugnet commented on #74
I just made a test by not providing the email address in the Controller.
The LDAP connection modal asked me to type an Email address that later need to be verified, which is what I would expect in this case.

[code]